@font-face{
	font-family: 'myCustomFont';
	src: url('Monoton-Regular.ttf');
}

body{
	background-color: lightseagreen;
}

#body-div{
	background-color: white;
	width: 60%;
	margin: auto;
	padding: 20px;
	font-family: monospace;
}

h1{
	font-family: 'myCustomFont', cursive;
	text-align: center;
}

h3{
	color: orangered;
	font-style: italic;
	background-color: lightseagreen;
	color: whitesmoke;
	padding-left: 5px;
}

img{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#productHeader{
	background-color: lightseagreen;
	text-align: center;
	color: whitesmoke;
}

section{
	display: block;
	margin-bottom: 5%;
}

.products{
	width: 48%;
	background-color: moccasin;
	float: left;
	margin-right: 2%;
	margin-bottom: 25px;

}

.products h2{
	text-align: center;
}

.products h3{
	text-align: center;
}

nav{
	background-color: lightseagreen;
	display: inline-flex;
	text-align: center;
	width: 100%;
	margin: auto;
	justify-content: center;

}

ul{
	display: inline-flex;
	
}

li{
	margin-right: 10px;
	margin-left: 10px;
	list-style-type: none;

}

form{
	width: 80%;
	margin: auto;
}

label{
	display: block;
	padding: 5px;
	font-weight: bold;
}

input{
	width: 95%;
	height: 25px;
	border-radius: 5px;
	border-color: lightseagreen;
	padding: 5px;
}

textarea{
	width: 95%;
	height: 25px;
	border-radius: 5px;
	border-color: lightseagreen;
	padding: 5px;
}

Button{
	background-color: lightseagreen;
	border-color: white;
	width: 96%;
	height: 35px;
	color: moccasin;
	border-radius: 7px;
	font-weight: bold;
}

form h3{
	background-color: lightseagreen;
	text-align: center;
	height: 30px;
	padding-top: 15px;
}